<meta name="viewport" content="width-device-width, initial-scale=1">
<div id="fh5co-services" data-section="services">
  {{ with .Site.Params.services }}
  {{ if .video }}
  <div class="fh5co-video"><a href="{{ with .vidlink }}{{ . }}{{ end }}" class="popup-vimeo"><i class="icon-play2"></i></a> <span>Watch video</span></div>
  {{ end }}
  <div class="container">
    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
      <h2>{{ .title }}</h2>
      <p>{{ .description | markdownify }}</p>
    </div>
    
    {{ range .item }}
    <div class="col-md-4">
      <div class="service">
	<div class="icon"><i class={{ .icon }}></i></div>
	<h3>{{ .title }}</h3>
	<p>{{ .description | markdownify }}</p>
      </div>
    </div>
    {{ end }}

	  <button type="button" onclick="javascript:openChat">open chat</button>

    <div class="col-md-12 text-center">
      <p><a href="#" class="btn btn-primary btn-outline fh5co-content-nav" data-nav-section="contact">Get In Touch</a></p>
      <p><a href="#" class="bai-open-chat-btn btn btn-primary btn-outline fh5co-content-nav" >Boost</a></p>
    </div>
 <!-- <script src="https://widget.flowai.app/w/YUdPNlk2Z3c3fGNacWE3SGlwXw==/flow-webclient-1.1.2.min.js?fullscreen=false"></script> -->
<style>
  df-messenger {
   --df-messenger-bot-message: #fff;
   --df-messenger-button-titlebar-color: #A31E42;
   --df-messenger-button-titlebar-font-color: #fff;
   --df-messenger-chat-background-color: #fafafa;
    --df-messenger-font-color: rgba(0,0,0,.87);
    --df-messenger-input-box-color: #C62D4D;
    --df-messenger-input-font-color: rgba(0,0,0,.87);
    --df-messenger-input-placeholder-font-color: #757575;
    --df-messenger-minimized-chat-close-icon-color: rgba(0,0,0,.87);
    --df-messenger-send-icon: #42a5f5;
    --df-messenger-user-message: #ddd;
    --df-messenger-chip-color: #fff;
    --df-messenger-chip-border-color: #e0e0e0;
}
</style>
	  
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="Vega - Asistente Virtual"
  agent-id="b744cd78-f21e-468d-aec8-bf4eb478552e"
  language-code="es"
  chat-icon="https://dl.dropbox.com/s/3nturarp3yuhgr9/Vega.gif"
  placeholder="Haz una pregunta..."	      
></df-messenger>	  
	  <!-- Suve chat begin -->

  </div>
  {{ end }}
</div> <!-- END fh5co-services -->
