<meta name="viewport" content="width-device-width, initial-scale=1">
<div id="fh5co-services" data-section="services">
  {{ with .Site.Params.services }}
  {{ if .video }}
  <div class="fh5co-video"><a href="{{ with .vidlink }}{{ . }}{{ end }}" class="popup-vimeo"><i class="icon-play2"></i></a> <span>Watch video</span></div>
  {{ end }}
  <div class="container">
    <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
      <h2>{{ .title }}</h2>
      <p>{{ .description | markdownify }}</p>
    </div>
    
    {{ range .item }}
    <div class="col-md-4">
      <div class="service">
	<div class="icon"><i class={{ .icon }}></i></div>
	<h3>{{ .title }}</h3>
	<p>{{ .description | markdownify }}</p>
      </div>
    </div>
    {{ end }}

	  <button type="button" onclick="javascript:openChat">open chat</button>

    <div class="col-md-12 text-center">
      <p><a href="#" class="btn btn-primary btn-outline fh5co-content-nav" data-nav-section="contact">Get In Touch</a></p>
      <p><a href="#" class="bai-open-chat-btn btn btn-primary btn-outline fh5co-content-nav" >Boost</a></p>
    </div>

	  
<script>
window.addEventListener(‘dfMessengerLoaded’, {
 handleEvent: function (event) {
      const dfMessenger = document.querySelector(‘df-messenger’);
      dfMessenger.renderCustomText(‘Hola, soy Vega y estoy aquí para ayudarte a resolver tus dudas. ¿En qué te puedo ayudar?’);
      dfMessenger.showMinChat();
 }
});
window.addEventListener(‘dfMessengerLoaded’, {
 handleEvent: function (event) {
      const dfMessenger = document.querySelector(‘df-messenger’);
  const payload = [
 {
  “type”: “image”,
  “rawUrl”: “”
 }];
dfMessenger.renderCustomCard(payload);
      dfMessenger.renderCustomText(‘(No es necesario que me facilites ningún tipo de información personal, de esta manera podremos mantener el anonimato de la conversación)’);
		  dfMessenger.renderCustomText(‘Me han enseñado a responder sobre diversas áreas y servicios del Ayuntamiento, como por ejemplo: necesito un certificado de empadronamiento, fechas de vencimiento de tributos, cita previa, búsqueda laboral, subvenciones para emprendedores, actividades culturales, cursos y talleres, bienestar social, deportes, educación, seguridad, urbanismo y mucho más.’);
      dfMessenger.showMinChat();
 }
});
</script>	 
	  
	  <style>
  df-messenger {
--df-messenger-bot-message: #F7F7F7;
 --df-messenger-button-titlebar-color: #FFFFF;
 --df-messenger-button-titlebar-font-color: #00205B;
 --df-messenger-chat-background-color: #FAFAFA;
 --df-messenger-font-color: #000000;
 --df-messenger-send-icon: #72839F;
 --df-messenger-user-message: #EDEDED;
 --df-messenger-minimized-chat-close-icon-color: #00205B;
	}
</style>
	  
 <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script> 
<df-messenger
  chat-title="Dialogflow with ChatGPT"
  intent="WELCOME"
  chat-title="Chat"
  agent-id="9628cd39-5729-4034-9fbf-779bc790e14c"
  language-code="en"
#  chat-icon="https://dl.dropbox.com/s/3nturarp3yuhgr9/Vega.gif"
  placeholder="Haz una pregunta..."	      
></df-messenger>	  

 
	  
	  <!-- Suve chat begin -->

  </div>
  {{ end }}
</div> <!-- END fh5co-services -->
